* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #292929;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #03A9F4;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

img {
    width: 120px;
    right: 50px;
    float: left;
    padding: 8px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: 6521FF;
    font-weight: bold;

}
nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background-color: 6521FF;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before{
    width: 100%;}
